/**
*   
*   @author - devappdreams   
*   YOUTUBE LAYER ID
*   bnkfdgkccidbedkfoneaajldjgagjhib
*   UA-2592219-5
*
*
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: top; /* Safari */
    transition-property: top;
    transition: top 0.5s ease-in-out;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'RobotoDraft', sans-serif;
    font-weight: bold;
    text-rendering: geometricPrecision;
}
header {
    position: relative;
}
header nav {
    opacity: 1;
    top: -50px;
    height: auto;
}
a {
    border: none;
    font-family: 'RobotoDraft', sans-serif;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin: 0 2px;
}
form {
    float: right;
    width: 100%;
}
.box-input {
    margin: 0 10px 0 0;
    display: inline-block;
}
.box-input span {
    position: relative;
    top: -3px;
    left: 2px;
}
#box-right {
    float: right;
    padding: 0px 5px;
}
#box-left {
    float: left;
    width: 60%;
    padding: 0px 5px;
}
#box-left .container {
    position: relative;
}
#box-left .container .play-btn {
    background: url('../images/menu-icon.png') no-repeat -0px 0px;
    float: left;
    position: absolute;
    top: 2px;
    right: 0px;
}
#box-left .container input {
    float: left;
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 10px 0 0;
    text-overflow: ellipsis;
    outline: none;
}
#box-left .container input:focus {
    text-overflow: ellipsis;
    outline: none;
}
#alert {
    position: absolute;
    z-index: 10;
    bottom: 0;
    color: #000;
}
.webview {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}
.box-align {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display:block;
}
.btn {
    height: 25px;
    background: #ff0000;
    z-index: 1;
    border: none;
    float: left;
    border-radius: 5px;
}
.donate {
    width: 25px;
    height: 25px;
    background: #000;
    z-index: 1;
    border: none;   
    float: left;
    border-radius: 5px;
}
.shadow {
    -webkit-box-shadow: 0.2px 0.2px 20px 0 #BDBDBD;
    box-shadow: 0.2px 0.2px 20px 0 #BDBDBD;
}
.shadow-inner {
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
}
.nav-menu {
    background: #fff;
    display: table;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    position: fixed;
}
.nav-align {
    width: 100%;
    position: fixed;
    z-index: 2;
    display: none;
    top:0px;
}
.append {
    float: right;
}
.box-info { 
    width: 20%;
    height: 20%;
    background: #fff;
    color: #666;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    margin-left: calc(-20% / 2);
    margin-top: calc(-20% / 2);
    font-size: 1em;
    display: table;
    -webkit-box-shadow: 0.2px 0.2px 20px 0 #BDBDBD;
    box-shadow: 0.2px 0.2px 20px 0 #BDBDBD;
}
.box-info p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}
.always-on-top-btn {
    background: url('../images/menu-icon.png') no-repeat -177px 0px;
    float: left;
    cursor: pointer;
}
dialog {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    padding: 5px;
}
dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
dialog h1 {    
    background-color: #0E0707;
    font-size: 10pt;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: 7pt;
    border-bottom: 1px solid black;
    color: #fff;
    border-radius: 10px 10px 0 10px;
}
dialog div {
    padding: 10pt;
    text-align: center;
}
dialog a {
    border: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
    background: #2b2b2b;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    width: 85px;
}
p {
    font-size: 14pt;
}
.move-btn {
    background: url('../images/menu-icon.png') no-repeat -50px 0px;
    float: left;
    cursor: pointer;
    -webkit-app-region: drag;
}
.close-btn {
    background: url('../images/menu-icon.png') no-repeat -25px 0px;
    float: left;
    cursor: pointer;
}
.expand-btn {
    float: left;
    border-radius: 0 0 20px 20px;
    width: 40px;
    height: 20px;
    background: #ffffff;
    position: absolute;
    bottom: -20px;
    right: 50%;
    margin-right: -20px;
    cursor: pointer;
}
.fullscreen-btn {
    background: url('../images/menu-icon.png') no-repeat -101px 0px;
    float: left;
    cursor: pointer;
}
.resize-btn {
    background: url('../images/menu-icon.png') no-repeat -106px 0px;
    float: left;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu {
        opacity: 1;
        top: -71px;
        height: auto;
    }

    .box-align {
        font-size: 10px;
        display: inline-block;
        width: 100%;
        padding: 66px;
    }   
}